<h1>all the users</h1>
<ul>
  <% @users.each do |user| %>
  <li>First name: <%= user.fname %></li>
  <li>Last name: <%= user.lname %></li>
  <% end %>
</ul>

<div class="">
  Post:
  <% @posts.each do |post| %>
  Title: <%= post.title %>
  Content: <%= post.content %>
  <% end %>

</div>
