<h1>This is the contact page</h1>
<form class="" action="/create_user_address" method="post">
  <input type="text" name="fname" value="" placeholder="first name">
  <input type="text" name="lname" value="" placeholder="last name">
  <input type="text" name="line1" value="" placeholder="address line one">
  <input type="text" name="line2" value="" placeholder="address line two">
  <input type="text" name="city" value="" placeholder="city">
  <input type="text" name="state" value="" placeholder="state">
  <input type="text" name="zip" value="" placeholder="zip code">
  <button type="submit" name="button">submit</button>
</form>
